name: Pull Request



on:
  push:
    branches:
    - renovate/**
  pull_request:
    branches:
    - main



jobs:
  validate:
    name: Validate
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - uses: swift-actions/setup-swift@v2
      with:
        swift-version: "6.2"

    - uses: actions/cache@v4
      id: cache
      with:
        path: .build
        key: ${{ runner.os }}-spm-${{ hashFiles('Package.resolved') }}-${{ github.workspace }}-tmp
        restore-keys: ${{ runner.os }}-spm-${{ hashFiles('Package.resolved') }}-${{ github.workspace }}-tmp

    - name: Package Resolve
      if: steps.cache.outputs.cache-hit != 'true'
      run: make resolve

    - name: Build for test
      run: make build

    - name: Run tests
      run: make test
